.container-edit-riddle {
  padding: 200px 120px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.container-edit-riddle-header {
  width: 100%;
  height: auto;
  display: flex;
}
.container-edit-riddle-header span {
  color: #db4444;
}
.breadcrumb-edit-riddle a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.breadcrumb-edit-riddle a:hover {
  color: #db4444;
  text-decoration: underline;
}
.container-form-edit-riddle {
  width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0px;
  gap: 80px;
  background-color: rgb(219, 68, 68, 0.2);
  border: none;
  border-radius: 16px;
}
.container-form-edit-riddle-hint {
  width: 720px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.container-form-edit-riddle-hint h3 {
  width: 100%;
}
.container-form-edit-riddle-image {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.container-form-edit-riddle-image label {
  font-size: 16px;
  width: fit-content;
  font-weight: 500;
}
.container-form-edit-riddle-image input {
  width: 100%;
  height: auto;
  border-radius: 8px;
  background-color: #f5f5f5;
  border: none;
  margin-bottom: 16px;
}
.container-form-edit-riddle-image input::file-selector-button {
  background-color: #db4444;
  color: white;
  border: none;
  border-radius: 8px;
}
.container-form-edit-riddle-image input:focus {
  box-shadow: 0px 0px 8px #db4444;
  border: none;
  background-color: #f5f5f5;
}
.container-form-edit-riddle-image img{
  width: 600px;
  height: auto;
  border-radius: 16px;
}
.container-form-edit-riddle-title {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.container-form-edit-riddle-title label{
  font-size: 16px;
  width: fit-content;
  font-weight: 500;
}
.container-form-edit-riddle-title input {
  width: 100%;
  border: none;
  background-color: #f5f5f5;
}
.container-form-edit-riddle-title input:hover {
  border: none;
  background-color: #e6e6e6;
}
.container-form-edit-riddle-title input:focus {
  background-color: #f5f5f5;
  outline: none;
  border: none;
  box-shadow: 0px 0px 8px #db4444;
}
.container-form-edit-riddle-kronologi {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.container-form-edit-riddle-kronologi label{
  font-size: 16px;
  width: fit-content;
  font-weight: 500;
}
.container-form-edit-riddle-kronologi textarea {
  width: 100%;
  border: none;
  background-color: #f5f5f5;
  resize: none;
}
.container-form-edit-riddle-kronologi textarea:hover {
  border: none;
  background-color: #e6e6e6;
}
.container-form-edit-riddle-kronologi textarea:focus {
  background-color: #f5f5f5;
  outline: none;
  border: none;
  box-shadow: 0px 0px 8px #db4444;
}
.container-form-edit-riddle-clue {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.container-form-edit-riddle-clue label{
  font-size: 16px;
  width: fit-content;
  font-weight: 500;
}
.container-form-edit-riddle-clue input {
  width: 100%;
  border: none;
  background-color: #f5f5f5;
}
.container-form-edit-riddle-clue input:hover {
  border: none;
  background-color: #e6e6e6;
}
.container-form-edit-riddle-clue input:focus {
  background-color: #f5f5f5;
  outline: none;
  border: none;
  box-shadow: 0px 0px 8px #db4444;
}
.container-form-edit-riddle-add-tersangka {
  width: 720px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.container-form-edit-riddle-add-tersangka h3 {
  width: 100%;
}
.container-form-edit-riddle-tersangka {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.container-form-edit-riddle-tersangka label{
  font-size: 16px;
  width: fit-content !important;
  font-weight: 500;
}
.container-form-edit-riddle-tersangka input {
  width: 100%;
  border: none;
  background-color: #f5f5f5;
}
.container-form-edit-riddle-tersangka input:hover {
  border: none;
  background-color: #e6e6e6;
}
.container-form-edit-riddle-tersangka input:focus {
  background-color: #f5f5f5;
  outline: none;
  border: none;
  box-shadow: 0px 0px 8px #db4444;
}
.container-form-edit-riddle-alibi {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.container-form-edit-riddle-alibi label{
  font-size: 16px;
  width: fit-content !important;
  font-weight: 500;
}
.container-form-edit-riddle-alibi textarea {
  width: 100%;
  border: none;
  background-color: #f5f5f5;
  resize: none;
}
.container-form-edit-riddle-alibi textarea:hover {
  border: none;
  background-color: #e6e6e6;
}
.container-form-edit-riddle-alibi textarea:focus {
  background-color: #f5f5f5;
  outline: none;
  border: none;
  box-shadow: 0px 0px 8px #db4444;
}
.container-button-add-tersangka {
  width: 600px;
  height: 54px;
  display: flex;
  justify-content: flex-end;
}
.container-button-add-tersangka button {
  background-color: #db4444;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  padding: 12px 28px;
  cursor: pointer;
}
.container-button-add-tersangka button:hover {
  background-color: #fff;
  color: #db4444;
  border: solid 1px #db4444;
}
.container-button-add-tersangka button:focus {
  box-shadow: 0px 0px 8px 0px #db4444;
}
.container-form-edit-riddle-add-tersangka label {
  font-size: 16px;
  width: 600px;
  font-weight: 500;
}
.container-list-tersangka {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  background-color: #f1f1f1;
  border: solid 2px #db4444;
  border-radius: 16px;
  position: relative;
}
.container-list-tersangka span {
  width: 8px;
  height: 28px;
  position: absolute;
  left: 0px;
  border-radius: 0px 8px 8px 0px;
  background-color: #db4444;
}
.container-button-edit-riddle {
  display: flex;
  gap: 8px;
}
.button-submit-edit-riddle {
  background-color: #07bc0f;
  color: #fff;
  font-weight: 500;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  padding: 8px 28px;
  cursor: pointer;
}
.button-submit-edit-riddle:hover {
  box-shadow: 0px 0px 0px 1px #07bc0f;
  background-color: #fff;
  color: #07bc0f;
}
.button-delete-edit-riddle {
  background-color: #db4444;
  color: #fff;
  font-weight: 500;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  padding: 8px 28px;
  cursor: pointer;
}
.button-delete-edit-riddle:hover {
  box-shadow: 0px 0px 0px 1px #db4444;
  background-color: #fff;
  color: #db4444;
}
.container-form-edit-riddle-pelaku {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.container-form-edit-riddle-pelaku label{
  font-size: 16px;
  width: fit-content;
  font-weight: 500;
}
.container-form-edit-riddle-pelaku input{
  width: 100%;
  border: none;
  background-color: #f5f5f5;
  margin-bottom: 16px;
}
.container-form-edit-riddle-pelaku textarea {
  width: 100%;
  border: none;
  background-color: #f5f5f5;
  resize: none;
}
.container-form-edit-riddle-pelaku textarea:hover {
  border: none;
  background-color: #e6e6e6;
}
.container-form-edit-riddle-pelaku textarea:focus {
  background-color: #f5f5f5;
  outline: none;
  border: none;
  box-shadow: 0px 0px 8px #db4444;
}
.container-button-save-riddle {
  width: 600px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-button-save-riddle button {
  background-color: #db4444;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  padding: 12px 28px;
  cursor: pointer;
}
.container-button-save-riddle button:hover {
  background-color: #fff;
  color: #db4444;
  border: solid 1px #db4444;
}
.container-button-save-riddle button:focus {
  box-shadow: 0px 0px 8px 0px #db4444;
}