.container-list-riddle {
  padding: 200px 100px;
  width: 100%;
  height: auto;
  align-items: center;
  gap: 48px;
}
.container-list-riddle-header span {
  color: #db4444;
}
.breadcrumb-list-riddle a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.breadcrumb-list-riddle a:hover {
  color: #db4444;
  text-decoration: underline;
}
.input-search-riddle {
  width: 100%;
  height: 40px;
  padding: 0px 16px;
  border-radius: 8px;
  border: none;
  background-color: #f5f5f5;
  font-size: 16px;
}
.input-search-riddle:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px #db4444;
}
.button-list-riddle {
  width: 40px;
  height: 40px;
  background-color: #db4444;
  border-radius: 8px;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-left: 8px;
}
.button-list-riddle:hover {
  background-color: #db4444;
  box-shadow: 0px 0px 8px 0px #c4c4c4;
}
.container-search-riddle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
  margin: 24px 0;
}
.button-add-riddle button {
  width: 160px;
  height: 40px;
  background-color: #db4444;
  border-radius: 8px;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.button-add-riddle button:hover {
  background-color: #fff;
  color: #db4444;
  border: solid 1px #db4444;
  box-shadow: 0px 0px 8px 0px #c4c4c4;
}
