.container-register {
  padding: 100px 0px;
  width: 100%;
  height: auto;
  align-items: center;
  gap: 48px;
  display: flex;
}
.image-auth-container {
  width: 1500px;
  height: 100%;
}
.image-auth-register {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 8px 8px 0px;
}
.register-auth {
  display: flex;
  flex-direction: column; 
  gap: 24px;
}
.register-auth h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 30px;
}
.register-auth h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.form-register {
  display: flex;
  flex-direction: column;
  width: 28vw;
  gap: 28px;
}
.form-register input {
  border: none;
  border-bottom: solid 3px #c4c4c4;
  padding: 8px;
  outline: none;
  font-size: 16px;
}
.form-register input::placeholder {
  color: #c4c4c4;
}
.form-register input:focus {
  border-bottom: solid 3px #db4444;
}
.container-submit-register {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.button-register {
  background-color: #db4444;
  color: white;
  border: none;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  padding: 12px 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.button-register-google {
  background-color: #fff;
  color: #000;
  border: solid 1px #c4c4c4;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  padding: 12px 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.button-register:hover {
  box-shadow: 0px 0px 8px 0px #c4c4c4;
}
.button-register-google:hover {
  box-shadow: 0px 0px 8px 0px #c4c4c4;
}
.container-submit-register a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #db4444;
  text-decoration: none;
}
.container-submit-register a:hover {
  text-decoration: underline;
}
.container-remember-me {
  display: flex;
  align-items: center;
  gap: 8px;
  height: fit-content;
}
.container-remember-me input {
  cursor: pointer;
}
.container-dont-have-account {
  display: flex;
  gap: 8px;
  height: fit-content;
}
.container-dont-have-account a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #db4444;
  text-decoration: none;
}
.container-dont-have-account a:hover {
  text-decoration: underline;
}
.center-loading {
  position: absolute;
  right: 16px;
}
.image-google {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
